@import 'variables';
@import 'mixins';

.card-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: $spacer-md;

  @include respond(sm) {
    flex-direction: row;
  }

  @include respond(md) {
    gap: $spacer-lg;
  }

  > .card {
    flex: 1 0 0%;
  }
}
